env/
*.pyc
__pycache__
*.log
*.csv
*.mo
.~*#
*.lck
*.lock
*.bak
*.bck
public/
node_modules/
_build/
/ausgsteckt/ausgsteckt/templates/tracking.html
secret.key
*.dbf
*.prj
*.shp
*.shx
*.psql
*.sql
.idea/
