env/
*.pyc
__pycache__
*.log
*.csv
*.mo
.~*#
*.lck
*.bak
*.bck
public/
node_modules/
_build/
/ausgsteckt/ausgsteckt/templates/tracking.html
secret.key
*.dbf
*.prj
*.shp
*.shx
*.psql
*.xz
*.gz
*.bz2
*.sql
.idea/
sentry_settings.py
