django>=1.10,<1.11
django-model-utils
psycopg2
python-dateutil
requests
django-redis
easy-thumbnails
pytz
pyproj
gdal
django-leaflet
git+https://github.com/W7PEA/django-geojson.git@python35#egg=django-geojson
