.img_region {
  margin-bottom: 2em;
}

main#content > div.container {
  padding-top: 1em;
}

body {
  /* height of .navbar, customize with @navbar-height variable */
  padding-top: 56px;
  /* Margin bottom by footer height */
  margin-bottom: 2em;
}

.navbar {
  min-height: 56px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 2em;
  line-height: 2em; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: right;
}

.footer > a {
  margin-right: 0.5em;
}

div.container {
  padding-bottom: 2em;
}

a {
  color: indigo;
}

.badge-raisin {
  color: #fff;
  background-color: indigo;
}

.badge-raisin-light {
  color: indigo;
  background-color: #f8f9fa;
}

ul.contact-list > #address {
  margin-bottom: 1em;
}

div.btn-group-map {
  padding-top: 2px;
}

.inline {
  height: 1em;
}