.img_region {
  margin-bottom: 2em;
}

main#content > div.container {
  padding-top: 1em;
}

body {
  /* height of .navbar, customize with @navbar-height variable */
  padding-top: 56px;
}

.navbar {
  min-height: 56px;
}

div.container {
  padding-bottom: 2em;
}

.badge-raisin {
    color: #fff;
    background-color: indigo;
}

.badge-raisin-light {
    color: indigo;
    background-color: #f8f9fa;
}
