{% extends 'base.html' %}

{% load i18n l10n data_quality %}

{% block content %}
  {% if object_list %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Address' %}</th>
          <th>{% trans 'Website' %}</th>
          <th>{% trans 'Fixme' %}</th>
          <th>{% trans 'Coverage' %}</th>
          <th>{% trans 'View details' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for buschenschank in object_list %}
          <tr>
            <td>{{ buschenschank.name }}</td>
            <td>
              {% if buschenschank.address %}
                {{ buschenschank.address }}
              {% else %}
                <strong>MISSING</strong>
              {% endif %}
            </td>
            <td>
              {% if buschenschank.website %}
                <a target="_blank" href="{{ buschenschank.website }}">{{ buschenschank.website }}</a>
              {% else %}
                <strong>MISSING</strong>
              {% endif %}
            </td>
            <td>{{ buschenschank.tags.fixme }}</td>
            <td>
              {% localize off %}
                {% trans 'Address' %}:
                {% address_coverage buschenschank.tags percentage=True as coverage_addr %}
                {% include 'includes/progressbar.html' with progress=coverage_addr %}

                {% trans 'Contact' %}:
                {% contact_coverage buschenschank.tags percentage=True as coverage_contact %}
                {% include 'includes/progressbar.html' with progress=coverage_contact %}
              {% endlocalize %}
            </td>
            <td>
              <ul class="list-unstyled">
                <li><a target="_blank" href="{{ buschenschank.get_osm_url }}">OpenStreetMap</span></a></li>
                <li><a target="_blank" href="{{ buschenschank.get_admin_url }}">Admin</span></a></li>
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
