{% load static template_check pipeline %}

<html>
  <head>
    <title>{% block title %}Ausgsteckt{% if page_title %} - {{ page_title }}{% endif %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    {% stylesheet 'libs' %}
    {% stylesheet 'main' %}
    {% block extracss %}{% endblock %}

    <meta name="keywords" content="Heuriger,Buschenschank,ausgsteckt,wine,austria,Wein,Österreich,OpenStreetMap,OpenData">
    {% block extrameta %}{% endblock %}
  </head>
  <body {% block bodyattr %}{% endblock %}>
    {% include 'includes/navbar.html' %}
    <main id="content" role="main">
      {% block content %}{% endblock %}
    </main>

    {% javascript 'libs' %}
    {% block extrajs %}{% endblock %}

    {% block tracking %}
      {% template_exists 'tracking.html' as tracking_exists %}
      {% if tracking_exists %}
        {% include 'tracking.html' %}
      {% endif %}
    {% endblock %}
  </body>
</html>
