{% extends 'base.html' %}

{% load i18n %}

{% block content %}
  <div class="container">
    <div id="accordion" role="tablist">
      {% include 'buschenschank/includes/buschenschank_description_card.html' %}

      {# TODO View mini map of area #}

      {% include 'buschenschank/includes/osm_tags_card.html' %}

      <a class="btn btn-info" href="{{ buschenschank.get_map_permalink }}">{% trans 'View on the map' %}</a>
      <a class="btn btn-info" target="_blank" href="{{ buschenschank.get_osm_url }}">{% trans 'View at OpenStreetMap' %}</a>
    </div>
  </div>
{% endblock %}
