{% extends 'base.html' %}

{% load staticfiles %}

{% block extracss %}
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" />
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.css' %}" />
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.Default.css' %}" />
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/buschenschank/map.css' %}" />
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/leaflet.markercluster.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/buschenschank/map.js' %}"></script>
{% endblock %}

{% block bodyattr %}
  onload="main_map_init('ausgstecktmap')"
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div id="buschenschank_maps" class="col-md-12" data-geojson-url="{% url 'buschenschank:buschenschank.geojson' %}" data-details-url="{% url 'buschenschank:buschenschank_details' '000' %}">
        <div id="ausgstecktmap"></div>
      </div>
      <div id="buschenschank_details" class="col-md-0">
        <div class="well">
          <span class="glyphicon glyphicon-chevron-left sidebar-close" onclick="close_details()" aria-hidden="true">Close</span>
          <div id="buschenschank_details_content"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
