{% extends 'base.html' %}

{% load staticfiles pipeline %}

{% block extrameta %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block extracss %}
  {% stylesheet 'map' %}
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.css' %}" />
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.Default.css' %}" />
{% endblock %}

{% block extrajs %}
  {% javascript 'map' %}
  <script type="text/javascript" src="{% static 'js/leaflet.markercluster.js' %}"></script>
{% endblock %}

{% block bodyattr %}
  onload="main_map_init('ausgstecktmap')"
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div id="buschenschank_maps" data-geojson-url="{% url 'buschenschank:buschenschank.geojson' %}" data-details-url="{% url 'buschenschank:buschenschank_details_api' '000' %}">
        <div id="ausgstecktmap"></div>
      </div>
    </div>
  </div>
{% endblock %}
