{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
  <div class="container">
    <h2>
      {{ region.name }}
      {% if user.is_staff %}
        <a href="{{ region.get_admin_url }}">
          <small><i class="fa fa-pencil" aria-hidden="true" title="{% trans 'edit' %}"></i></small>
        </a>
      {% endif %}
    </h2>
    <div class="row">
      <div class="col-12 col-md-2 img_region">
        {% if region.region_image %}
          <img src="{{ region.region_image.details.url }}" class="img-fluid"></img>
        {% else %}
          <img src="{% static 'images/region_placeholder.png' %}" class="img-fluid"></img>
        {% endif %}
      </div>
      <div class="col-12 col-md-10">
        {% if region.description %}
          <div class="alert alert-secondary">
            {{ region.description|linebreaks }}
          </div>
        {% endif %}
        {% if region.website or region.calendar_website %}
          <dl class="row">
            {% if region.website %}
              <dt class="col-sm-3">{% trans 'Website' %}</dt>
              <dd class="col-sm-9"><a href="{{ region.website }}" target="_blank">{{ region.website }}</a></dd>
            {% endif %}

            {% if region.calendar_website %}
              <dt class="col-sm-3">{% trans 'Calendar' %}</dt>
              <dd class="col-sm-9">
                <a href="{{ region.calendar_website }}" target="_blank">{% trans 'Calendar (external)' %}</a>
              </dd>
            {% endif %}
          </dl>
        {% endif %}
        {% with buschenschank_list=region.get_buschenschank %}
          {% if buschenschank_list.exists %}
            <h2>{% trans 'Buschenschänken' %} ({{ region.get_buschenschank.count }})</h2>
            {% include 'buschenschank/includes/buschenschank_list.html' %}
          {% endif %}
        {% endwith %}

        <div class="bg-light clearfix">
          <a class="btn btn-secondary float-start" href="{% url 'buschenschank:region_list' %}">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;{% trans 'Back to region list' %}
          </a>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
