{% load i18n osm_tags %}

<ul class="list-unstyled contact-list">
  {% if buschenschank.address %}
    <li id="address"><strong>{{ buschenschank.address }}</strong></li>
  {% endif %}

  {% for email in buschenschank.email_list %}
    <li>
      <i class="fa fa-envelope" aria-hidden="true" title="{% trans 'Email' %}{% if buschenschank.email_list|length > 1 %} {{ forloop.counter }}{% endif %}"></i>&nbsp;
      {{ email|urlize }}
    </li>
  {% endfor %}

  {% for phone in buschenschank.phone_list %}
    <li>
      <i class="fa fa-phone" aria-hidden="true" title="{% trans 'Phone' %}{% if buschenschank.phone_list|length > 1 %} {{ forloop.counter }}{% endif %}"></i>&nbsp;
      <a href="tel:{{ phone|cut:' ' }}">{{ phone }}</a>
    </li>
  {% endfor %}

  {% for website in buschenschank.website_list %}
    <li>
      <i class="fa fa-globe" aria-hidden="true" title="{% trans 'Website' %}{% if buschenschank.website_list|length > 1 %} {{ forloop.counter }}{% endif %}"></i>&nbsp;
      <a href="{{ website }}" target="_blank">{{ website }}</a>
    </li>
  {% endfor %}

  {% osmtag buschenschank 'contact:facebook' as fb %}
  {% if fb %}
    <li>
      <i class="fa fa-facebook-official" aria-hidden="true" title="Facebook"></i>&nbsp;
      <a href="{{ fb }}" target="_blank">Facebook</a>
    </li>
  {% endif %}
</ul>
