{% load osm_tags %}

<div class="card">
  <div class="card-header" role="tab" id="headingTags">
    <h5 class="mb-0">
      <a data-bs-toggle="collapse" href="#collapseTags" aria-expanded="false" aria-controls="collapseTags">
        <i class="fa fa-tags" aria-hidden="true"></i>&nbsp;Tags
      </a>
    </h5>
  </div>

  <div id="collapseTags" class="collapse" role="tabpanel" aria-labelledby="headingTags" data-bs-parent="#accordion">
    <div class="card-body">
      <dl id="buschenschank-tags" class="row">
        {% for tag, value in buschenschank.tags.items %}
          <dt class="col-sm-3">{{ tag }}</dt>
          <dd class="col-sm-9">{{ value|format_value_list:tag|safe }}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>
